* {
  font-family: "Gamja Flower", cursive;
  font-weight: 600;
}

body {
  margin: 0;
}

.inputArea {
  margin-top: 10px;
  margin-bottom: 30px;
}

.container {
  min-height: 100vh;

  background: url(images/pink.png);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.taskArea {
  border: 1px solid white;
}

.taskTabs {
  display: flex;
  position: relative;
}

#underline {
  height: 6px;
  left: 0;
  width: 80px;
  top: 51px;
  background-color: palegoldenrod;
  position: absolute;
  padding: 0;
}

.taskTabs div {
  padding: 1rem;
}

.tasks {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid white;
}

.taskDone {
  text-decoration: line-through;
}

button {
  background-color: #04aa6d;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#addButton {
  border-radius: 5px;
}

input {
  border: none;
}

.checkArea button {
  border-radius: 5px;
}
